<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314473391658-2v3ff8essi425k7ojlf3muus9fbp0pva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314473391658-2v3ff8essi425k7ojlf3muus9fbp0pva</string>
	<key>API_KEY</key>
	<string>AIzaSyDQrxAopYIYcFS1sX_qR_vrmuwnsu2gPQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>314473391658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routethis.HIPER-Guide</string>
	<key>PROJECT_ID</key>
	<string>hiper-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>hiper-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314473391658:ios:544c9a5128674159a5c553</string>
</dict>
</plist>