<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612512620511-jadfe6pg3spfs9o98cc0fq7gdch8hhce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612512620511-jadfe6pg3spfs9o98cc0fq7gdch8hhce</string>
	<key>API_KEY</key>
	<string>AIzaSyDlgGQrPtz9Z4aeaiTZZqbrA8O_McjNABw</string>
	<key>GCM_SENDER_ID</key>
	<string>612512620511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routethis.AprilAire</string>
	<key>PROJECT_ID</key>
	<string>aire-care</string>
	<key>STORAGE_BUCKET</key>
	<string>aire-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612512620511:ios:4a5eb6a77f9cd1ad716e6a</string>
</dict>
</plist>